body {
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  font-size: 16px;
  /* Large & more visible cursor */
  cursor: url(/src/assets/cursor.png) 3 2, auto;
}

#app {
  display: flex;
  align-items: center;
}

#legend {
  /* Make the fading out of the legend less jarring */
  transition: 0.1s ease;
}

.legend-heading {
  font-weight: bold;
  margin: 5px 0;
}

.legend-heading-secondary {
  font-weight: normal;
  margin: 0 5px;
  font-size: 14px;
}

.legend-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px 0;
}

footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer button {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
